*.gz
*.aux
*.log
auto/
*~
*.spl
*.txt
pg_*
*.sh
*.sh_
\#*
*\#
*.blg
*.xwm
*.dat
plots/no_pol_vs_hist_pol
plots/res_hp_vs_hist_pol
plots/res_vs_hist_pol
plots/res_vs_no_pol
plots/new_fit_0207
plots/volatility/additional_plots
plots/reprod_of_paperBackup
templates
submitted
